@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

:root{
    --main-color:rgb(199, 155, 11);
    --white:#fffff;
    --bg:rgb(255, 255, 255);
    --border: .1rem solid rgb(199, 155, 11);
}

*{
    font-family: "Montserrat", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    /* scroll-behavior: smooth;
    scroll-padding-top: 9rem; */
    overflow-x: hidden;
}


body{
    background: var(--bg);
    justify-content: center;
    align-items: center;
}

.header{
    background: rgb(199, 155, 11);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 12%;
    border-bottom: var(--border);
    /* position: fixed; */
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .name{
    /* height: 9rem; */
    color: #fff;
    font-size: 1.6rem;
   
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:active,
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}

.header .icons div:hover{
color:rgb(193, 193, 193);
}

#menu-btn{
    display: none;
    cursor: pointer;
    float: right;
}

.header .search-form{
    position: absolute;
    top: 115%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--white);
}

.header .search-form label:hover{
    color: var(--main-color);
}

 .accordian{
    margin: 0 auto; /* Centers the element horizontally */
    align-items: center;
    margin-top: 2%;
    width: 65%;
    background-color: rgb(199, 155, 11);
    padding: 30px;
    border-radius: 30px;
    color: rgb(47, 44, 44);

 }

 .accordian .accordian-title{
    margin-bottom: 5%;
    text-align: center;
    font-size: 2.5rem;
 }

 .accordian .content-container .question{
    padding: 1.5rem 0rem;
    font-size: 2rem;
    cursor: pointer;
    border-bottom: 1px solid #000;
    position: relative;

 }

 .accordian .content-container .question::after{
    content: '+';

    position: absolute;
    right: -0.025px;
 }

 .accordian .content-container .answer {
    padding-top: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: .5s;
 }

 .accordian .content-container.active .answer{
    height: 60%;
    font-size: 1.5rem;

 }
 .accordian .content-container.active .question{
    font-size: 18px;
    transition: .5s;
 }
 .accordian .content-container.active .question::after{
    content: '-';
    font-size: 2rem;
    transition: .5s;
 }


/* For navbar */

 
@media (max-width:767px){

    .icons #menu-btn{
        display: block;

    }

    .header{
        width: 100%;
        background-position: 40%;
    }
    .header .navbar{
        position: absolute;
        right: -100%;
        top:9rem; left: -100%;
        background: #fff;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.5s;
    }

   .header .navbar a.active,
   .header .navbar a:hover{
        border: none;
        color: var(--main-color);
    }

    .header .navbar.show{
        left: 0;
    }

    .header .navbar a{
        color: var(--white);
        display: block;
        margin: 3.125rem 0;
        padding: .2rem;
        font-size: 1.5rem;
        line-height: 1.875rem;
        width: 100%;
        
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }
}
/* media queries */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
   

}

  
  /* Mobile (L) styles */
  @media (max-width: 1200px) {
    .accordian{
        width: 94%;
        margin-top: 8.5rem;
       }
  }
   
  /* Mobile (S) styles */
  @media (max-width: 768px) {
   .accordian{
    width: 94%;
    margin-top: 7rem;
   }
  }
  
  